# Twitch Configuration
VITE_TWITCH_CHANNEL=....

# Bob's wallet secret key (used to send initial 5 USDC to new wallets)
VITE_BOB_SECRET_KEY=S...YOUR_SECRET_KEY_HERE...

# Stellar Network Configuration
VITE_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Contract Addresses
VITE_TIP_CONTRACT_ID=CDS4PIWD7U5OGZ6POKJAPYCS63UTWX7C7POKITRL4BERFFFMP2Z35BWB
VITE_USDC_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA

# Recipient Address (Who receives tips)
VITE_RECIPIENT_ADDRESS=G...YOUR_RECIPIENT_ADDRESS...
VITE_RECIPIENT_NAME=....

# USDC Issuer on Testnet
VITE_USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
